<div class="large-12 columns codeEditContainer">
	<div class="row">
		<div class="large-1 columns">
			<p>
				<a class="editStopEditLink" ng-click="enableCodeEdit()" >
					<i class="fi-page-edit myEditIcon"></i>
				</a>
			</p>
		</div>

		<div class="large-2 columns">
			<p>
				<a ng-click="ensureDeleteFile(fileName)" >
					<i class="fi-trash myRemoveIcon" style="display: none;" ></i>
				</a>
			</p>
		</div>

		<div style="display: none;" class="large-4 columns right fileNameEdit">
			<input ng-model="fileName" type="text" id="fileNameInput" />
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns editCode">
			<form id="formi">
				<textarea id="code_area" style="height: 450px; width: 100%;" name="file_content">{{code}}</textarea>
				<input type="hidden" name="web_console" value="True" />
			</form>
		</div>
	</div>

  <hr>
  <center>
    <a ng-click="startApp(fileName)" class="start-instance-btn">start</a>
    <a ng-href="#/apps" style="margin-right: 2em; margin-left: 2em;" class="edit-instance-btn">apps</a>
    <a ng-click="stopApp(fileName)" class="start-instance-btn">stop</a>
  </center>


<!--
<script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=700,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
</script>
<a href="JavaScript:newPopup('http://www.quackit.com/html/html_help.cfm');">Open a popup window</a>
-->

</div>

