
<div class="row">
  <div class="large-12 columns">
    <div class="row">
    <!--
      <div class="large-4 columns">
        <center><img src="img/ojs_logos/png/ojs-128.png" ></center>
      </div>
    -->

      <div class="large-4 columns ojs-new-app-btn">
        <a ng-href="#/app/newApp">NEW<br/>APP</a>
      </div>

      <div ng-repeat="instance in appInstances" class="large-4 columns">
        <div class="panel">

<div class="row ojs-app-top" >
  
  <div class="large-4 columns">
    <img class="ojs-app-img" src="http://placehold.it/200/{{ ( !instance.color ) ? '218bc0': instance.color }}/000000/&amp;text=[{{instance.name}}]">
    <!--<img class="ojs-app-img" src="http://placehold.it/200/218bc0/000000/&amp;text=[{{instance.name}}]">-->
  </div>
  <div class="large-8 columns" ><h4 class="ojs-app-name">{{instance.name}}</h4></div>

</div>

<hr>

<div class="row">
  <div class="large-12 columns"><span style="font-weight:bold;">Running: </span>{{instance.running}}</div>
</div>

<div class="row">
  <div class="large-12 columns"><span style="font-weight:bold;">Description:</span></div>
</div>

<div class="row">
  <div class="large-12 columns">
    {{ ( !instance.desc ) ? '...': instance.desc }}
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <span style="font-weight:bold;">Author: </span>
    {{ ( !instance.author ) ? 'N/A': instance.author }}
  </div>
</div>
<!--
          <p><span style="font-weight:bold;">Running: </span>{{instance.running}}</p>
          <p><span style="font-weight:bold;">Description: </span>N/A</p>
          <p><span style="font-weight:bold;">Author: </span>N/A</p>-->
          <hr>          
          <center ng-show='UserService.isLogged'>
            <a ng-click="startApp(instance.name)" class="start-instance-btn">start</a>
            <a ng-href="#/app/{{instance.name}}" style="margin-right: 2em; margin-left: 2em;" class="edit-instance-btn">edit</a>
            <a ng-click="stopApp(instance.name)" class="start-instance-btn">stop</a>
          </center>
        </div>
        
      </div>


    </div>
  </div>
</div>

