
<div class="row">
  <div class="large-12 columns">
    <div class="row">
    <!--
      <div class="large-4 columns">
        <center><img src="img/ojs_logos/png/ojs-128.png" ></center>
      </div>
    -->

      <div ng-repeat="instance in observerInstances" class="large-4 columns">
        <div class="panel">
          <h4>{{instance.name}}</h4>
          <hr>
          <p><span style="font-weight:bold;">Description: </span>{{instance.desc}}</p>
          <p><span style="font-weight:bold;">Running: </span>{{instance.running}}</p>
          <hr>          
          <center>
            <a ng-click="startObserver(instance.name)" class="start-instance-btn">start</a>
            <a ng-href="#/observer/{{instance.name}}" style="margin-right: 2em; margin-left: 2em;" class="edit-instance-btn">edit</a>
            <a ng-click="stopObserver(instance.name)" class="start-instance-btn">stop</a>
          </center>
        </div>
        
      </div>


    </div>
  </div>
</div>

