
    [class*="foundicon-"]:after { position: relative; top: -2px; left: 5px; font-size: 100%; font-style: normal; }

    .foundicon-settings:after        { content: "settings"; }
    .foundicon-heart:after           { content: "heart"; }
    .foundicon-star:after            { content: "star"; }
    .foundicon-plus:after            { content: "plus"; }
    .foundicon-minus:after           { content: "minus"; }
    .foundicon-checkmark:after       { content: "checkmark"; }

    .foundicon-remove:after          { content: "remove"; }
    .foundicon-mail:after            { content: "mail"; }
    .foundicon-calendar:after        { content: "calendar"; }
    .foundicon-page:after            { content: "page"; }
    .foundicon-tools:after           { content: "tools"; }
    .foundicon-globe:after           { content: "globe"; }

    .foundicon-home:after            { content: "home"; }
    .foundicon-quote:after           { content: "quote"; }
    .foundicon-people:after          { content: "people"; }
    .foundicon-monitor:after         { content: "monitor"; }
    .foundicon-laptop:after          { content: "laptop"; }
    .foundicon-phone:after           { content: "phone"; }

    .foundicon-cloud:after           { content: "cloud"; }
    .foundicon-error:after           { content: "error"; }
    .foundicon-right-arrow:after     { content: "right-arrow"; }
    .foundicon-left-arrow:after      { content: "left-arrow"; }
    .foundicon-up-arrow:after        { content: "up-arrow"; }
    .foundicon-down-arrow:after      { content: "down-arrow"; }

    .foundicon-trash:after           { content: "trash"; }
    .foundicon-add-doc:after         { content: "add-doc"; }
    .foundicon-edit:after            { content: "edit"; }
    .foundicon-lock:after            { content: "lock"; }
    .foundicon-unlock:after          { content: "unlock"; }
    .foundicon-refresh:after         { content: "refresh"; }

    .foundicon-paper-clip:after      { content: "paper-clip"; }
    .foundicon-video:after           { content: "video"; }
    .foundicon-photo:after           { content: "photo"; }
    .foundicon-graph:after           { content: "graph"; }
    .foundicon-idea:after            { content: "idea"; }
    .foundicon-mic:after             { content: "mic"; }

    .foundicon-cart:after            { content: "cart"; }
    .foundicon-address-book:after    { content: "address-book"; }
    .foundicon-compass:after         { content: "compass"; }
    .foundicon-flag:after            { content: "flag"; }
    .foundicon-location:after        { content: "location"; }
    .foundicon-clock:after           { content: "clock"; }

    .foundicon-folder:after          { content: "folder"; }
    .foundicon-inbox:after           { content: "inbox"; }
    .foundicon-website:after         { content: "website"; }
    .foundicon-smiley:after          { content: "smiley"; }
    .foundicon-search:after          { content: "search"; }