

  <div class="row">



      <div class="small-12 medium-6 large-4 columns ojs-new-app-btn">
        <a ng-href="#/app/newApp">NEW<br/>APP</a>
      </div>

      <div class="small-12 medium-6 large-4 columns" ng-repeat="instance in appInstances">

        <div class="panel">

          <div class="row ojs-app-top" >
            
            <div class="small-12 medium-4 large-4 columns">
              <img class="ojs-app-img" src="http://placehold.it/200/{{ ( !instance.color ) ? '218bc0': instance.color }}/000000/&amp;text=[{{instance.name}}]">
            </div>
            <div class="small-12 medium-8 large-8 columns" ><h4 class="ojs-app-name">{{instance.name}}</h4></div>

          </div>

          <hr>

          <!-- running -->
          <div class="row" ng-show='UserService.isLogged'>
            <div class="small-12 medium-12 large-12 columns">
              <span class="ojs-app-info-h" >Running: </span>{{instance.running}}
            </div>
          </div>

          <!-- desc -->
          <div class="row">
            <div class="small-12 medium-12 large-12 columns"><span class="ojs-app-info-h">Description:</span></div>
          </div>

          <div class="row">
            <div class="small-12 medium-12 large-12 columns ojs-app-desc-text" >
              {{ ( !instance.desc ) ? '...': ( instance.desc.length > 150 ) ? instance.desc.substring(0,147) + '...' : instance.desc }}
            </div>
          </div>

          <!-- author -->
          <div class="row">
            <div class="small-12 medium-12 large-12 columns">
              <span class="ojs-app-info-h">Author: </span>
              {{ ( !instance.author ) ? 'N/A': instance.author }}
            </div>
          </div>

          <hr>

          <!-- start/edit/stop -->      
          <center class="app-instance-btns" >
            <a ng-click="startApp(instance.name)" class="start-instance-btn">start</a>
            <a ng-show='UserService.isLogged' ng-href="#/app/{{instance.name}}" class="edit-instance-btn">edit</a>
            <a ng-click="stopApp(instance.name)" class="stop-instance-btn">stop</a>
          </center>
        </div>          


        </div>

      </div>

<!--
      <div class="small-12 medium-6 large-4 columns ojs-new-app-btn">
        <a ng-href="#/app/newApp">NEW<br/>APP</a>
      </div>

      <div class="small-12 medium-6 large-4 columns ojs-new-app-btn">
        <a ng-href="#/app/newApp">NEW<br/>APP</a>
      </div>

      <div class="small-12 medium-6 large-4 columns ojs-new-app-btn">
        <a ng-href="#/app/newApp">NEW<br/>APP</a>
      </div>
-->


    <!--<div class="small-12 medium-12 large-12 columns">-->


    <!--  <div ng-repeat="instance in appInstances" class="large-4">-->
      <!--<div ng-repeat="instance in appInstances" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">-->
<!--
        <div class="panel">


          <div class="row ojs-app-top" >
            
            <div class="small-12 medium-6 large-4 columns">
              <img class="ojs-app-img" src="http://placehold.it/200/{{ ( !instance.color ) ? '218bc0': instance.color }}/000000/&amp;text=[{{instance.name}}]">
            </div>
            <div class="small-8 large-8 columns" ><h4 class="ojs-app-name">{{instance.name}}</h4></div>

          </div>

          <hr>

          <div class="row" ng-show='UserService.isLogged'>
            <div class="small-12 medium-12 large-12 columns"><span style="font-weight:bold;">Running: </span>{{instance.running}}</div>
          </div>

          <div class="row">
            <div class="small-12 medium-12 large-12 columns"><span style="font-weight:bold;">Description:</span></div>
          </div>

          <div class="row">
            <div class="small-12 medium-12 large-12 columns" style="height: 70px;">
              {{ ( !instance.desc ) ? '...': ( instance.desc.length > 150 ) ? instance.desc.substring(0,147) + '...' : instance.desc }}
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-12 large-12 columns">
              <span style="font-weight:bold;">Author: </span>
              {{ ( !instance.author ) ? 'N/A': instance.author }}
            </div>
          </div>

          <hr>          
          <center ng-show='UserService.isLogged'>
            <a ng-click="startApp(instance.name)" class="start-instance-btn">start</a>
            <a ng-href="#/app/{{instance.name}}" style="margin-right: 2em; margin-left: 2em;" class="edit-instance-btn">edit</a>
            <a ng-click="stopApp(instance.name)" class="start-instance-btn">stop</a>
          </center>
        </div>
        
      </div>
    -->

  </div>


