<div class="topSpace"></div>
<div class="large-9 columns actionCode">
	<div class="row">
		<div class="small-2 columns">
			<p>
				<a class="editStopEditLink" onclick="editableCode();" >
					<i class="fi-page-edit myEditIcon"></i>
				</a>
			</p>
		</div>

		<div class="small-2 columns">
			<p>
				<a onclick="ensureDeleteAction();" >
					<i class="fi-trash myRemoveIcon" style="display: none;" ></i>
				</a>
			</p>
		</div>

		<div style="display: none;" class="large-4 columns right fileNameEdit">
			<input type="text" id="fileNameInput" value="{{actionName}}" />
		</div>
	</div>



	<div class="row">
		<div class="large-12 columns actionCode">
			<form method="POST" enctype="multipart/form-data" action="/api/action/upload" id="formi">
				<textarea id="example_1" style="height: 450px; width: 100%;" name="action_class_file">{{code}}</textarea>
				<input type="hidden" name="web_console" value="True" />
			</form>
		</div>
	</div>


	<form class="custom triggerActionForm">
		<div class="row">
			<div class="large-10 columns">
				<label for="checkbox2" class="has-tooltip" title="currently not working">
					<input onchange="showPreviousParams(this,'{{actionName}}');" type="checkbox" id="checkbox2" style="display: none;">
					<span class="custom checkbox">
					</span> Use previous arguments</label>
			</div>
			<div class="large-2 columns right">
				<a class="triggerLink" href="javascript:void(0)" onclick="triggerAction('{{actionName}}');" >trigger</a>
			</div>
		</div>

		<div class="row newActionParams">
			<div class="large-10 columns">
				<input type="text" id="paramLine" style="width:100%;" placeholder='usage: "string" or "device:username@devicename" or number, and then hit enter'/>
			</div>
		</div>
	</form>

</div>






