
<div class="large-9 columns capabilityCode">
	<div class="row">
		<div class="large-2 columns">
			<p>
				<a class="editStopEditLink" onclick="editableCode();" >
					<i class="fi-page-edit myEditIcon"></i>
				</a>
			</p>
		</div>

		<div class="large-2 columns">
			<p>
				<a onclick="ensureDeleteCapability();" >
					<i class="fi-trash myRemoveIcon" style="display: none;" ></i>
				</a>
			</p>
		</div>

		<div style="display: none;" class="large-4 columns right fileNameEdit">
			<input type="text" id="fileNameInput" value="{{capabilityName}}" />
		</div>

	</div>
	<div class="row">
		<div class="large-12 columns capabilityCode">
			<form method="POST" enctype="multipart/form-data" action="/api/action/upload" id="formi">
				<textarea id="example_1" style="height: 450px; width: 100%;" name="action_class_file" style="text-shadow: none !important;">{{code}}</textarea>
				<input type="hidden" name="web_console" value="True" />
			</form>
		</div>
	</div>
</div>

