
  .small_screen_logo {
    display: none;
  }



/* sequence */

/* phone screen */
@media (max-width: 767px) {

  #sequence {
    display:none;
  }

  .small_screen_logo {
    display: inline;
  }

  h1 {
    font-family: 'Play', sans-serif;
  }
}
/* sequence - end */



.fileNamesListing h3 {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgb(111, 111, 111);
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  height: 23px;
  line-height: 23px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family:'Open Sans', sans-serif;
}


body {
  
  font-size: 15px;
  /*font-family: 'Play', sans-serif;*/
  font: 15px "Helvetica Neue", "Lucida Grande", "Arial";
  background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
  background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
  background-repeat: no-repeat;
  color: #555;
  -webkit-font-smoothing: antialiased;
}

.oTitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;

	-webkit-font-smoothing: antialiased !important;

	color: #5e5e5e;
	background-color: transparent;

}

footer {
  -webkit-box-shadow: rgb(32, 42, 50) 1px 3px 1px -2px inset;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(17, 17, 17); /*rgb(41, 53, 64);*/
  background-repeat: repeat-x;
  box-shadow: rgb(32, 42, 50) 1px 3px 1px -2px inset;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  height: 100%;
  line-height: 20px;
  width: 100%;
  font-family:'Open Sans', sans-serif;
}

h4 {
  color: rgb(255, 255, 255);
}


.feature, .feature h3 {
  -webkit-font-smoothing: antialiased !important;
  color: #5e5e5e;
  background-color: transparent;

}




/* devices and instances list table */
.table-container {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 900px){
    .table-container {
      overflow: visible;
    }
}

.table-container table { 
    border-collapse: collapse; 
    border-spacing: 0; 
    background-color: white;
    border: 1px solid #c3c9cc;
}
.table-container th, .table-container td {
    text-align: left;
}
.table-container th {
    background-color: #f5f5f5;
    white-space: nowrap;
}
.table-container td {
    border-top: 1px solid #c3c9cc;
}

/* devices and instances list table - end */


/*  instructions */
@media (min-width: 768px) {
  .instructions_container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .instructions_container {
    max-width: 970px;
  }
}
@media( min-width: 1200px) {
  .instructions_container {
    max-width: 1170px;
  }
}



.instructions_container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.container .pageTitle {

  -webkit-box-shadow: rgb(120, 123, 126) 1px 3px 1px -2px inset;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(208, 213, 217);
  background-repeat: repeat-x;
  box-shadow: rgb(120, 123, 126) 1px 3px 1px -2px inset;
  box-sizing: border-box;
  color: rgb(111, 111, 111);
  display: block;

  line-height: 23px;
  padding-bottom: 26px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 26px;
  width: 100%;
}

.container .pageTitle h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: rgb(111, 111, 111);
}


.headline {
  margin: 45px 0 45px 0;
  padding: 40px 0 45px 0;
  border-top: #e0e3e6 1px solid;
  border-bottom: #e0e3e6 1px solid;
  text-align: center;
  font-size: 24px;
}

.large-features {
  border-top: 1px #e0e3e6 solid;
 /* font-family: Abel, 400, 19px;*/
}


.large-features .feature {
border-bottom: 1px #e0e3e6 solid;
margin: 30px 0 30px 0;
}
.feature {
margin-top: 34px;
margin-bottom: 34px;
}
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/*  instructions - end */


.container {
  margin-top: 28px;
}






/*  FRONTPAGE - begin */

.ojs-console-frontpage {
  margin-top: -28px;
}

.ojs-console-frontpage {

  background: #222 url(img/ojs_logos/nyc.jpg) no-repeat center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-attachment:fixed;
}


div.ojs-console-top-filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
}

.ojs-console-top-logo {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  background-clip: border-box;

  background-color: rgba(0, 0, 0, 0);

  background-origin: padding-box;
  background-size: auto;
  box-sizing: border-box;

  background: url(img/ojs_logos/png/ojs_colors_white_text-444.png) no-repeat center center;
  z-index: 10;

  height: 497px;

}


@media (min-width: 768px) {
  .ojs-console-top-logo {
    background: url(img/ojs_logos/png/ojs_colors_white_text-512.png) no-repeat center center;
  }
}
/*
@media (min-width: 992px) {
  .ojs-console-top-logo {
    max-width: 970px;
  }
}
*/
@media( min-width: 1300px) {
  .ojs-console-top-logo {
    height: 980px;
  }

  .ojs-console-frontpage {
    background: #222 url(img/ojs_logos/nyc_highres.jpg) no-repeat center center;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment:fixed;
  }

}




.ojs-console-frontpage .features {

  /*background-color: rgba(0,0,0,0.5);*/
  background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
  background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);

  box-shadow: rgb(212, 211, 211) 1px 3px 1px -2px inset;
  box-sizing: border-box;

  width: 100%;
}


.ojs-console-frontpage .feature {
  -webkit-font-smoothing: antialiased !important;
}

.ojs-console-frontpage .features .headline {
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;

  -webkit-font-smoothing: antialiased !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
}


.feature h3 {
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.feature p {
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Open Sans', sans-serif;
}


.top-logo-desc {
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 40px;
}

.top-logo-desc h1, .top-logo-desc p {
  color: #fff;
}


/*  FRONTPAGE - end */


