<div class="ojs-console-frontpage">

  <div class="ojs-console-top-filter">
    <!-- Top logo -->
    <div class="ojs-console-top-logo"></div>


    <div class="top-logo-desc">
      <div class="row">
        <div class="large-12 columns">
          <center>
            <h1>Open Source Platform for creating multi-device applications</h1>
            <p>
              Orchestrator.js is an open source platform for creating applications to heterogeneous and multi-device environment based on Node.js. <br/> Make your devices to communicate seamlessly, and put their resouces into use!
            </p>
          </center>
        </div>
      </div>
    </div><!-- top-logo-desc -->

  </div>


  <div class="features features-margin">

    <div class="headline">
      Orchestrator.js
    </div>

    <div class="row feature">
      <div class="large-12 columns">
        <h3><a class="glyphicons soccer_ball"><i></i></a></h3>
        <p style="text-align: center;">
          <i>Orchestrator.js</i> is a platform for new type of applications. The apps run constantly run in cloud and monitor device context as well as third party services, like Facebook, Flickr, etc. When rules set by the app developer are met, the app triggers interactions between devices and users. Users can start and stop different applications as they wish.
        </p>

        <p style="text-align: center;">
          To have better controlr over their device, users can describe what their devices can or are allowed to do by enabling / disabling different device capabilities. For example, if device has a talking-capability enabled, it is then allowed to translate text to speech.
        </p>
      </div>
    </div>

  </div>





  <!-- FRONT PAGE SLIDER -->
  <div id="sequence">

    <img class="sequence-prev" src="img/sequence/bt-prev.png" alt="Previous" />
    <img class="sequence-next" src="img/sequence/bt-next.png" alt="Next" />

    <ul class="sequence-canvas">


      <li>
        <div class="sObject0_info">
          <h2>orchestrator.js</h2>
          <p>Coordinate Devices inside Mobile Clouds</p>
        </div>
        <img class="sObject0" src="img/ojs_logos/png/ojs-256.png" alt="" />
        <img class="sBackground" src="img/sequence/background_blue.png" alt="" />
      </li>


      <li>
        <div class="sObject2_info">
          <h2>Action Oriented Programming Model</h2>
          <p>Designed for ubiquitous mobile cloud environment</p>
        </div>
        <img class="sObject2" src="img/slides/acop.jpeg" alt="" />
        <img class="sBackground" src="img/sequence/background_purple.png" alt="" />
      </li>


      <li>
        <div class="sObject1_info">
          <h2>Apocalympics</h2>
          <h2>Built using orchestrator.js</h2>
          <p>Entertaining zombie game for familiar strangers.</p>
        </div>
        <div class="sObject1">
          <!--<iframe  style="width: 420px; height: 315px;" src="https://www.youtube.com/embed/n4U8ncSClIo" frameborder="0" allowfullscreen></iframe>-->
          <iframe src="//player.vimeo.com/video/90834248" width="420" height="275" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <img class="sBackground" src="img/sequence/background_violet.png" alt="" />
      </li>



      <li>
        <div class="sObject1_info">
          <h2>Making Coffee with Orchestrator.js</h2>
          <p>OJS now supports .NET Gadgeteer embedded platform. This video also introduces OJS tools for the implementation process.</p>
        </div>
        <div class="sObject1">
          <iframe src="//player.vimeo.com/video/89557849" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <img class="sBackground" src="img/sequence/background_purple.png" alt="" />
      </li>

    </ul>
  </div>
  <!-- FRONT PAGE SLIDER - END -->



  <div class="features features-margin features-margin-top">

    <div class="headline">
      How can I use it?
    </div>
    <div class="row feature">
      <div class="large-12 columns">
        <p style="text-align: center;">
          You can start by watching <a href="http://vimeo.com/nikkis/gadgeteer">this tutorial video</a>, and then read more from the <a href="#/develop">Docs tab!</a> All the source code is freely available under MIT license from GitHub, and you can find links from the bottom of this page.
        </p>
      </div>
    </div>

    <div class="row feature">
      <div class="large-12 columns">
        <center>
          <iframe class="ojs-tutorial-video" src="//player.vimeo.com/video/89557849" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </center>
      </div>
    </div>
  </div>



  <!-- Social Device Add -->
  <!--
  <div class="features features-margin features-margin-top">

    <div class="headline">
      Social Devices
    </div>
    <div class="row feature">
      <div class="large-12 columns">
        <p style="text-align: center;">
        Timo's original idea
          Device start to resemble humans. The idea in Social Devices concept is to
          Orchestrator.js is designed to support Social Devices concept.
        </p>
      </div>
    </div>
  </div>
  -->


  <div class="features features-margin features-margin-top">

    <div class="headline">
      Orchestrator.js - Apps
    </div>

    <div class="row feature">
      <div class="large-12 columns">
        <p style="text-align: center;">
          Orchestrator.js applications are based on three main concepts.
        </p>
      </div>
    </div>

    <div class="row feature">
      <div class="large-4 columns">
        <h3>App</h3>
        <p>
          The app itself monitors device context, and out-side sources like social media services, such as Facebook, Twitter and so on. Based on the observations and logic defined by the developer, the app triggers actions. So app defines <i>when and what interactions (actions) should take place.</i>
        </p>
      </div>
      <div class="large-4 columns">
        <h3>Action</h3>
        <p>
          An action defines <i>how the devices interact with each other and as well as with users</i>. An action can be very short, like just greeting each other, or long-lasting, like a game.
        </p>
      </div>
      <div class="large-4 columns">
        <h3>Capability</h3>
        <p>
          Capabilities are used to describe <i>how a device appears to the system,</i>
          <i>what a device can or is allowed to do</i>, and <i>in what interactions the device can take part to</i>. The capability can either be very generic, like Talking-capability that allows device to speak, or more specific, like Apocalympics-capability which allows the device to participate to Apocalympics game.
        </p>
      </div>
    </div>

  </div>



  <div class="features features-margin features-margin-top">

    <div class="headline">
      Orchestrator.js - Features
    </div>

    <div class="row feature">
      <div class="large-4 columns">
        <h3><a class="glyphicons soccer_ball"><i></i></a>Building apps is easy</h3>
        <p>
          Orchestrator.js offers web-based IDE for implementing apps in heterogenous, multi-user and multi-device
          environment. The Web Console can be used for implementing the apps, interactions, and device capabilities.
          Moreover, the IDE offers tools for testing purposes: it is easy to monitor device states, read debug messages directly from web browser's console, and also developers can manually trigger interactions
          for a predefined set of devices.
        </p>
      </div>
      <div class="large-4 columns">
        <h3><i class="glyphicons group"><i></i></i>Context is the key</h3>
        <p>
          With Orchestrator.js it is easy to implement context-aware applications for a heterogenous set of device.
          The platform offers publish-subsrcibe API that easy to utilize in app implementations. The devices constantly report their state to the Orchestrator.js Device Registry, which publishes updates whenever devices' contextual data changes.
        </p>
      </div>
      <div class="large-4 columns">
        <h3><i class="glyphicons cloud"><i></i></i>Cloud-based system</h3>
        <p>
          The platform currently runs in Amazon cloud, but is freely available from GitHub, and can be easily hosted on any computer with a network connectivity. The devices are constantly connected to the Orchestrator.js. On client-side we currently support Android, and devices capable of running Python. We are also working on with iOS implementation currently.
        </p>
      </div>
    </div>

  </div>



  <!--<div class="features">

  <div class="headline">
  Orchestrator.js Demos
</div>

</div>-->




<!--</div>-->

<!--<div class="features">-->


<!--
<div class="headline">
Architecture of Orchestrator.js
</div>

<div class="row">
<div class="large-6 columns description">
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, a, voluptatibus, provident odio cupiditate inventore ut fugiat perspiciatis saepe non aut molestiae porro consequuntur tenetur accusantium ducimus incidunt doloremque labore!  porro consequuntur tenetur  incidunt doloremque labore!
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, a, voluptatibus, provident odio cupiditate inventore ut fugiat perspiciatis saepe non aut molestiae porro consequuntur tenetur accusantium ducimus incidunt doloremque labore!  porro consequuntur tenetur  incidunt doloremque labore!
</p>
</div>
<div class="large-6 columns image">
<img src="img/generalOJS.png" alt="Social Devices Platform" />
</div>
</div>
<br />
-->
<!--</div> -->
<br /><br /><br />
<!--<div class="features">-->


<br />

<!--
<div class="headline">
Execution Model of Orchestrator.js Apps
</div>

<div class="row">
<div class="large-6 columns image">
<img src="img/executionModel.png" alt="Social Devices Platform" />
</div>
<div class="large-6 columns description">
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, a, voluptatibus, provident odio cupiditate inventore ut fugiat perspiciatis saepe non aut molestiae porro consequuntur tenetur accusantium ducimus incidunt doloremque labore!  porro consequuntur tenetur  incidunt doloremque labore!
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, a, voluptatibus, provident odio cupiditate inventore ut fugiat perspiciatis saepe non aut molestiae porro consequuntur tenetur accusantium ducimus incidunt doloremque labore!  porro consequuntur tenetur  incidunt doloremque labore!
</p>
</div>
</div>

-->



</div> <!--  ojs-console-frontpage -->



<!-- FOOTER -->
<footer class="footer">
  <div class="row">

    <div class="large-3 columns">
      <h4>Contact</h4>
      <ul class="grove-list">
        <li><a href="http://iki.fi/niko.makitalo">Niko Mäkitalo</a></li>
        <li><a href="http://social.cs.tut.fi">Social Devices concept</a></li>
        <li><a href="http://www.cs.tut.fi/ihte/projects/CoSMo/">CoSMo</a></li>
      </ul>
    </div>

    <div class="large-3 columns">
      <h4>Demos</h4>
      <ul class="grove-list">
        <li><a href="http://vimeo.com/nikkis/gadgeteer">Tutorial for Making Coffee</a></li>
        <li><a href="http://vimeo.com/nikkis/apocalymbics">Apocalympics</a></li>
        <li><a href="http://www.youtube.com/watch?v=DigLU_UjYSI">Photo Sharing</a></li>
        <li><a href="http://www.youtube.com/watch?v=T3sL3JYjCEM">Car Game</a></li>
      </ul>
    </div>

    <div class="large-3 columns">
      <h4>Get Orchestrator.js</h4>
      <ul class="grove-list">
        <li><a href="https://github.com/nikkis/OrchestratorJS">Orchestrator.js on GitHub</a></li>
        <li><a href="https://github.com/nikkis/OrchestratorJS/archive/master.zip">Direct download</a></li>
      </ul>
    </div>

    <div class="large-3 columns">
      <h4>Get clients</h4>
      <ul class="grove-list">
        <li><a href="https://github.com/nikkis/OrchestratorJSAndroid">Android client</a></li>
        <li><a href="https://github.com/nikkis/OrchestratorJSGadgeteer">.NET Gadgeteer Framework</a></li>
        <li><a href="https://github.com/nikkis/Apocalympics">Apocalympics for android</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="copyright">
      <center>
        <p>2014 orchestrator.js</p>
      </center>
    </div>
  </div>

</footer>
<!-- FOOTER - END -->
